.get-started {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.links-border {
    display: flex;
    justify-content: center;
}

.to-location {
    margin: 40px;
    font-size: 20px;
}