.abilites-border {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .abilites-border {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
}