.abilites-border {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 48vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .abilites-border {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
    }
}