.page-header {
    display: flex;
    justify-content: center; 
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}