.page-header {
    display: flex;
    justify-content: center; 
}

.previous {
    margin-top: 27px;
    margin-right: 15px;
}

.previous:hover {
    cursor: pointer;
}

.next {
    margin-top: 27px;
    margin-left: 15px;
}

.next:hover {
    cursor: pointer;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}