.individual-ability {
    margin-right: 125px;
    margin-left: 125px;
}

@media only screen and (max-width: 800px) {
    .ability-border {
        display: flex;
        justify-content: center;
    }
}