.introduction {
    margin-top: 50px;
    background-color: whitesmoke;
}

.introduction-message {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 25px;
    transition: background-color 1s;
}

.introduction-content {
    display: grid;
    justify-content: center;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: whitesmoke;

}

.introduction-paragraph {
    margin-right: 20px;
    background-color: whitesmoke;
    width: 25vw;
    margin-top: 15px;
    margin-bottom: 25px;
}

.fun {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
}