.card-border {
    border: black 2px solid;
    margin: 15px;
    transition: opacity 1s;
}

.card-border:hover {
    opacity: 0.50;
}

.image {
    display: flex;
    justify-content: center;
}

.card-sprite {
    height: 96px;
}

.name {
    display: flex;
    justify-content: center;
}

.loading-border {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 75px;
    margin-left: 75px;
}