.card-border {
    margin: 15px;
}

.card-border:hover {
    cursor: pointer;
}

.image {
    display: flex;
    justify-content: center;
}

.card-sprite {
    height: 96px;
}

.name {
    display: flex;
    justify-content: center;
}

.loading-border {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 75px;
    margin-left: 75px;
}