.card-border {
    border: black 1px solid;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: opacity 1s;
}

.card-border:hover {
    opacity: 0.50;
}

.image {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
}