.add-pokemon-border {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.add-pokemon-button {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.add-pokemon-button:hover {
    background-color: white;
    color: black;
}

.num-next-previous {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.previous-arrow {
    display: flex;
    justify-content: right;
    grid-column-start: 4;
    grid-column-end: 4;
    cursor: pointer;
}

.id-num {
    display: flex;
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 5;
}

.next-arrow {
    display: flex;
    justify-content: left;
    grid-column-start: 6;
    grid-column-end: 6;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .num-next-previous {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .previous-arrow {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .id-num {
        
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .next-arrow {
        grid-column-start: 3;
        grid-column-end: 3;
    }
}