.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.view-pokemon-collection-header {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

@media only screen and (max-width: 800px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}