.username-and-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 35px;
}

.username-and-email-title {
    display: flex;
    justify-content: right;
    margin-top: 35px;
    margin-right: 5px;
    font-size: 20px;
}

.username-and-email-display {
    display: flex;
    justify-content: left;
    margin-top: 35px;
    margin-left: 5px;
    font-size: 20px;
}

.your-profile-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.your-profile-view {
    display: flex;
    justify-content: right;
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 20px;
    margin-top: 35px;
    cursor: pointer;
}

.middle-arrow {
    display: flex;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-top: 35px;
    font-size: 20px;
}

.your-profile-sign-out {
    display: flex;
    justify-content: left;
    grid-column-start: 5;
    grid-column-end: 5;
    font-size: 20px;
    margin-top: 35px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .your-profile-border {
        margin-top: 40vw;
    }

    .username-and-email-title {
        font-size: 15px;
    }

    .username-and-email-display {
        font-size: 15px;
    }

    .your-profile-actions {
        grid-template-columns: 1fr;
    }

    .your-profile-view {
        font-size: 15px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .your-profile-sign-out {
        font-size: 15px;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}