.appearances {
    margin-top: 5px;
    margin-bottom: 5px;
}

.appearances:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .appearances-border {
       display: flex;
        align-items: center;
        flex-direction: column;
    }
}