.header-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    display: flex;
    margin: 20px;
    transition: opacity 1s;
}

.title:hover {
    opacity: 0.50;
}

.links {
    display: flex;
    grid-column-start: 7;
    grid-column-end: 7;
    justify-content: left;
    align-items: center;
}

.link {
    margin: 25px;
    transition: opacity 1s;
}

.link:hover {
    cursor: pointer;
    opacity: 0.50;
}

.search-border {
    display: flex;
    justify-content: right;
    grid-column-start: 6;
    grid-column-end: 6;
    align-items: center;
    margin-right: 25px;
}

@media only screen and (max-width: 800px) {
    .links {
        margin-left: 2.5vw;
    }

    .link {
        margin: 2.5vw;
    }
}