.header-border {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    margin: 20px;
    transition: opacity 1s;
}

.title:hover {
    opacity: 0.50;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 75vw;
}

.link {
    margin: 25px;
    transition: opacity 1s;
}

.link:hover {
    cursor: pointer;
    opacity: 0.50;
}

.search-border {
    margin: 25px;
}

@media only screen and (max-width: 800px) {
    .links {
        margin-left: 2.5vw;
    }

    .link {
        margin: 2.5vw;
    }
}