.form {
    display: flex;
    margin-left: 5px;
}

.arrow {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.search-bar {
    border: none;
    border-left: #000000 1px solid;
    background-color: whitesmoke;
    width: 105px;
    padding: 5px;
}

.submit-button {
    border: none;
    background-color: whitesmoke;
}

.submit-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .mobile-display {
        position: absolute;
        margin-top: 75px;
        border: whitesmoke 1px solid;
        box-shadow: 2px 2px whitesmoke;
    }

    .form {
        margin: 10px;
    }
}