.name {
    display: flex;
    justify-content: center;
}

.num {
    display: flex;
    justify-content: center;
}

.sprite {
    display: flex;
    justify-content: center;
}

.stats-header {
    display: flex;
    justify-content: center;
}

.warning {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}