.name {
    display: flex;
    justify-content: center;
}

.num {
    display: flex;
    justify-content: center;
}

.sprite {
    display: flex;
    justify-content: center;
}

.no-image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.warning {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 50px;
}

.warning-image {
    display: flex;
    justify-content: center;
}

.warning-message {
    display: flex;
    justify-content: center;
}