.homepage-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.welcome {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.pokemon-image {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.introduction {
    margin-top: 50px;
    background-color: whitesmoke;
}

.introduction-message {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.introduction-content {
    display: flex;
    justify-content: center;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: whitesmoke;

}

.introduction-paragraph {
    margin-right: 20px;
    background-color: whitesmoke;
    width: 25vw;
}

