.data {
    border-left: black 1px solid;
    margin-bottom: 5px;
    margin-top: 5px;
}

.data-span {
    background-color: whitesmoke;
}

@media only screen and (max-width: 800px) {
    .move-border {
        display: flex;
        justify-content: center;
    }
}